# Ignore node_modules directory
node_modules

# Ignore logs
*.log
logs
*.log.*

# Ignore local development environments
.DS_Store
*.local

# Ignore npm and yarn files
npm-debug.log
yarn-error.log

# Ignore test directories
test
tests
__tests__

# Ignore build artifacts
dist
build

# Ignore Git files
.git
.gitignore

# Ignore Docker files
docker-compose.yml
.dockerignore
Dockerfile

# Ignore editor files
*.swp
*.swo
*.vscode
.idea
*.sublime-project
*.sublime-workspace
